<div class="row justify-content-center">
    <div class="col-4">
        <div class="text-center">
            <img src="https://rewardz.sg/images/logos/rewardz-logo.svg" alt="Rewardz" class="logo-img" />
        </div>
        <div class="year-text text-center">
            2024
        </div>
    </div>
    <div class="col-4">
        <div class="text-center">
            <h2>Version</h2>
        </div>
        <div class="year-text text-center">
            2.2.2
        </div>
    </div>
    <div class="col-4">
        <div >
            <ul class="footer-list">
                <li>
                    <span class="about-section">About</span>
                </li>
                <li>Contact Us</li>
                <li>Privacy</li>
                <li> Terms of use</li>
            </ul>
        </div>
    </div>
</div>